// COLOR
$sidebar_bg: #434765;
$sidebar_title_bg: #2e3148;
$main_bg: #f0f0f7;
$header_bg: #f4f4f4;
$white_bg: #fff;
$event_bg: #70a7fc;
$main_color: #b6b7bc;
$line: #e0ebff;

//FONT SIZE

//FONT WEIGHT
$font_bold: 700;